@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    min-height: 100vh;
    background: var(--Dark_cyan);
    position: relative;
}

.top_bg img {
    position: absolute;
    top: -630px;
    left: -280px;
}

.bottom_bg img {
    position: absolute;
    bottom: -630px;
    right: -250px;
}

.profile_card {
    width: 350px;
    height: 380px;
    border-radius: 20px;
    background: white;

    position: relative;
}

.profile_header img {
    border-radius: 20px 20px 0 0;
}

.profile_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;

    position: absolute;
    top: 87px;
    left: 125px;
}

.profile_text {
    margin-top: 65px;

    font-family: "Kumbh Sans";
    text-align: center;
}

.profile_info {
    padding-bottom: 25px;  
    border-bottom: 0.5px solid var(--Dark_gray);
}

.profile_info .name {
    margin-bottom: 7px;

    font-size: 18px;
    color: var(--Dark_grayish_blue)
}

.profile_info .name span {
    margin-right: 4.5px;
    color: var(--Very_dark_blue);
    font-weight: 700;
}

.profile_info .location {
    color: var(--Dark_grayish_blue);
    font-weight: 400;
    font-size: 14px;
}

.profile_stats div {
    padding: 25px 20px;
    display: inline-block;
}

.profile_stats div p:first-child {
    margin-bottom: 5px;

    color: var(--Very_dark_blue);
    font-size: 18px;
    font-weight: 700;
}

.profile_stats div p:last-child {
    color: var(--Dark_grayish_blue);
    font-size: 10px;
    letter-spacing: 0.2em;
}



